<!DOCTYPE html>
<html>
<head>
    <title>Bug Fields</title>
    <meta charset="UTF-8">

    <!-- Boostrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- CSS -->
    <link href="CSS/index.css" rel="stylesheet">
    
</head>
<body>
    <!--header>
        <nav class="navbar navbar-light bg-success">
            <a class="navbar-brand" href="#"><img src="../Assets/bugFields.png" width="120"></a>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Buscar"></input>
            </form>
        </nav>
    </header-->


    <nav class="navbar fixed-top">

        <div class="d-inline col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 text-center text-sm-center text-md-left text-lg-left text-xl-left">
            <a href="index.html">
                <img src="Assets/bugFields.png" alt="logo" class="nav-logo">
            </a>
        </div>

        <div class="d-inline col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center">
            <form action="#" method="get" id="SearchForm">
                <input class="form-control d-inline w-75 shadow-none" type="text" placeholder="Buscar" id="search-input">
                <button class="btn btn-dark shadow-none" type="submit">Buscar</button>
            </form>
        </div>

        <div class="d-inline col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-right">
            <label class="text-white pr-2">Iniciar sesión</label>
            <a href="Profile.html">
                <img src="Assets/blank-profile-picture.svg" alt="logo" class="login-logo rounded-circle">
            </a>
        </div>

    </nav>


    <main>
        
        <!--div class="container mt-5 text-center col-6">
            <input class="btn btn-primary" type="button" value="Crear publicación">
            <input class="btn btn-dark" type="button" value="Búsqueda avanzada">
        </div-->
        <br>
        <div class="container">
            <article class="card bg-light m-4 p-4 mt-5 rounded-3">
                <div class="btn-group" role="group">
                    <button class="btn btn-primary form-control" type="button" id="btn-createPub"> Crear publicación </button>
                    <button class="btn btn-dark form-control" type="button" id="btn-advSearch"> Búsqueda avanzada </button>
                </div>
            </article>
        </div>


        <!--section>
            <div class="container mt-5">
                <article class="card bg-light m-4 p-4 rounded-3">
                    <a href="#" class="card-title">Título</a>
                    <p class="card-body">Descripción Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis reprehenderit hic commodi eius! Porro tenetur optio, ex nobis quod excepturi debitis dignissimos deleniti quidem? Sit dolor velit quas id perferendis?</p>

                    <div class="btn-group card-link">
                        <button type="button" class="btn btn-outline-primary p-0">Categoría 1</button>
                        <button type="button" class="btn btn-outline-primary p-0">Categoría 2</button>
                        <button type="button" class="btn btn-outline-primary p-0">Categoría 3</button>
                    </div>
                </article>
            </div>
        </section-->


        <section>
            <div class="container mt-5">
                <article class="card bg-light m-4 p-4 rounded-3">
                    
                    <a href="#" class="card-title">Título</a>
                    <h6 class="card-subtitle text-muted">Autor</h5>
                    <p class="card-body">Descripción Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis reprehenderit hic commodi eius! Porro tenetur optio, ex nobis quod excepturi debitis dignissimos deleniti quidem? Sit dolor velit quas id perferendis?</p>

                    <div class="btn-group card-link">
                        <button type="button" class="btn btn-outline-primary p-0">Categoría 1</button>
                        <button type="button" class="btn btn-outline-primary p-0">Categoría 2</button>
                        <button type="button" class="btn btn-outline-primary p-0">Categoría 3</button>
                    </div>

                    <div class="card-text text-right">
                        <p><small class="text-muted">03/12/2022</small></p>
                    </div>

                    <div class="card-footer m-0 p-2 text-right">
                        <button class="btn btn-secondary">Modificar</button>
                        <button class="btn btn-danger">Eliminar</button>
                    </div>

                </article>
            </div>
        </section>

    </main>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-5">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <!--li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li-->
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
    </nav>


    <!-- Footer -->
    <footer class="page-footer font-small bg-dark pt-4">
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-center">
            <!-- Grid row -->
            <div class="row">        
                <hr class="clearfix w-100 d-md-none pb-3">    
                <!-- Grid column -->
                <div class="col-md-12 mb-md-0 mb-3">
        
                    <!-- Links -->
                    <h5 class="text-uppercase text-light mt-2">Bug Fields</h5>
            
                    <ul class="list-unstyled">
                        <li>
                            <p class="text-light">Osvaldo Estrada Gutierrez (Mt. 1898206)<br>
                            Eliam Rodríguez Pérez (Mt. 1898666)</p>
                        </li>
                        <li>
                            <a href="https://github.com/Prz-Ellam/Bug-Fields" target="_blank"><i class="fab fa-github github"></i></a>
                        </li>
                    </ul>
        
                </div>
                <!-- Grid column -->     
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
    </footer>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            
    <!-- Validate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        
    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
    <!-- JavaScript -->
    <script src="JS/index.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/48ce36e499.js" crossorigin="anonymous"></script>
</body>
</html>