body{
    background-color: #EFEFEF;
}

.navbar{
    background-color: #449342;
}

.nav-logo {
    width: 170px;
}

.login-logo {
    width: 40px;
}

.github {
    color: rgb(224, 224, 224);
    font-size: 48px;
}

.page-footer{
    padding: 48px;
    margin-top: 50px;
    height: 224px;
}

.main {
    margin-top: 108px;
}

/* TagsInput
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white !important;
    background-color: #0d6efd;
    padding: 0.2rem;
  }*/