* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#e6f7ff;
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: #449342;
    height: 56px;
    margin-bottom: 24px;
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 48px;
}

.register-wrapper {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px #888888;
    margin: auto;
    width: 36%;
    padding: 10px;
    border-radius: 10px;
    transition: box-shadow 500ms linear;
}

.register-wrapper:hover {
    box-shadow: 5px 5px 15px #888888;
    transition: box-shadow 500ms linear;
}

.form-title {
    font-size: 28px;
    font-weight: normal;
    text-align: center;
    padding: 8px;
}

.field-wrapper {
    padding: 10px;
}

.field-label {
    display: block;
    cursor: pointer;
    font-size: 12px;
    padding-bottom: 5px;
}

.form-label::before {
    content: "* ";
    color:rgb(222, 79, 84);
}

.input-wrapper {
    position: relative;
    width: auto;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.input {
    font-size: 13px;
    line-height: 20px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 4px;
}

.input:focus {
    border: 2px solid #1890ff;
    transition: border 200ms linear;
}

.input-normal {
    border: 2px solid gray;
    transition: border 200ms linear;
}

.input-incorrect {
    border: 2px solid rgb(222, 79, 84);
}

.input-correct {
    border: 2px solid rgb(121, 177, 143);
}

.input-warning {
    color: rgb(222, 79, 84);
    position: absolute;
    top: 8px;
    right: 9px;
    visibility: hidden;
}

.input-success {
    color: rgb(121, 177, 143);
    position: absolute;
    top: 8px;
    right: 9px;
    visibility: hidden;
}

.field-error {
    color: rgb(222, 79, 84);
    padding-top: 5px;
    font-size: 12px;
    display: none;
}






.form-input-file {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.form-photo {
    position: absolute;
    width: 125px;
    height: 125px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    opacity: 1;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.form-photo:hover {
    cursor: pointer;
}

.file-button {
    background-color: #096dd9;
    color: white;
    font-weight: bolder;
    width: 125px;
    height: 125px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;

    transition: background-color 1000ms linear;
}

.file-button:hover {
    background-color: #0050b3;
    opacity: 0.5;
    transition: background-color 1000ms linear;
    cursor: pointer;
}

.file-button:active {
    background-color: #003a8c;
    transition: background-color 100ms linear;
    cursor: pointer;
}

.show-password {
    visibility: hidden;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: color 50ms linear;
}

.show-password:hover {
    cursor: pointer;
}

.show-password:active{
    cursor: pointer;
    color: #AAAAAA;
    transition: color 50ms linear;
}

.hide-password {
    visibility: hidden;
    position: absolute;
    top: 8px;
    right: 7px;
    transition: color 50ms linear;
}

.hide-password:hover {
    cursor: pointer;
}

.hide-password:active{
    cursor: pointer;
    color: #AAAAAA;
    transition: color 50ms linear;
}



.form-submit {
    padding: 16px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
}


/* Submit Button */
.form-submit-btn {
    font-size: 18px;
    color: white;
    height: 48px;
    width: 100%;
    border: 0;
    background-color: #096dd9;
    border-radius: 5px;
    transition: background-color 100ms linear;
}

.form-submit-btn:hover {
    background-color: #0050b3;
    transition: background-color 100ms linear;
    cursor: pointer;
}

.form-submit-btn:active {
    background-color: #003a8c;
    transition: background-color 100ms linear;
    cursor: pointer;
}





.footer {
    color: rgb(224, 224, 224);
    text-align: center;
    padding: 48px;
    margin-top: 50px;
    height: 224px;
    background-color: rgb(48, 48, 48);
}

#password {
    padding-right: 40px;
}

.login {
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 16px;
}

.login a {
    text-decoration: none;
}

.github {
    color: rgb(224, 224, 224);
    font-size: 48px;
}

.password-requirements {
    padding: 5px 15px 5px 15px;
}

.field-password-requirements {
    font-size: 12px;
    color: black;
}