body{
    background-color: #EFEFEF;
    padding-top: 100px;
}

.github {
    color: rgb(224, 224, 224);
    font-size: 48px;
}

.page-footer{
    padding: 48px;
    margin-top: 50px;
    height: 224px;
}

label {
    cursor: pointer;
}