body {
    background-color: #EFEFEF;
    font-family: "Roboto", sans-serif;
}

/*#navbar {
    background-color: #449342;
    height: 64px;
}*/

.navbar{
    background-color: #449342;
}

.nav-logo {
    width: 170px;
}

.login-logo {
    width: 40px;
}

.github {
    color: rgb(224, 224, 224);
    font-size: 48px;
}

.page-footer{
    padding: 48px;
    margin-top: 50px;
    height: 224px;
}

#container-user-info {
    background-color: #FFFFFF;
    width: 50%;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 10px;
}

#photo {
    height: 128px;
}

.input-normal {
    border: 2px solid gray;
    transition: border 200ms linear;
}

.input-incorrect {
    border: 2px solid rgb(222, 79, 84);
}

.input-correct {
    border: 2px solid rgb(121, 177, 143);
}

.c-pointer {
    cursor: pointer;
}

.password-requirements {
    padding: 5px 15px 5px 15px;
}

.field-password-requirements {
    font-size: 12px;
    color: black;
}

.main {
    margin-top: 100px;
}

.file-button {
    background-color: #096dd9;
    color: white;
    font-weight: bold;
    opacity: 0;

    transition: background-color 1000ms linear;
}

.file-button:hover {
    background-color: #0050b3;
    opacity: 0.5;
    transition: background-color 1000ms linear;
    cursor: pointer;
}


#photo {
    width: 1px;
    height: 1px;
}