<!DOCTYPE html>
<html>
    <head>
        <title>Bug Fields</title>
        <meta charset=" UTF-8">
        <link rel="shortcut icon" href="../Assets/blank-profile-picture.svg" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../CSS/LoginRegister.css">
    </head>
    <body>

        <header>
            <nav class="navbar">
                <img src="../Assets/bugFields.png" id="logo">
            </nav>
        </header>

        <div class="register-wrapper">
            <form action="#" method="post" class="form" id="register-form">

                <h1 class="form-title">Registrarte</h1>

                <div class="field-wrapper">
                    <div class="input-wrapper">
                        <img src="../Assets/blank-profile-picture.svg" class="form-photo" id="picture-box">
                        <div class="photo-container">
                            <label class="file-button" for="photo">Elegir un archivo</label>
                            <input type="file" class="form-input-file" id="photo" name="photo" accept="image/*">
                        </div>
                    </div>
                    <label class="field-error" id="photo-error" style="display: none; text-align: center">Seleccione una imagen de perfil</label>
                </div>

                <!-- Un input esta conformado por el label, el input con su simbolo de warning y el error-->
                <div class="field-wrapper">
                    <label class="field-label" for="first-name">Nombre(s):</label>
                    <div class="input-wrapper">
                        <input type="text" class="input input-normal" id="first-name" name="name" autocomplete="off">
                        <i class="fas fa-exclamation-circle input-warning" id="name-warning"></i>
                        <i class="fas fa-check-circle input-success" id="name-success"></i>
                    </div>
                    <label class="field-error" id="name-error">Nombre(s) no puede estar vacío.</p>
                </div>

                <div class="field-wrapper">
                    <label class="field-label" for="last-name">Apellidos:</label>
                    <div class="input-wrapper">
                        <input type="text" class="input input-normal" id="last-name" name="last-name" autocomplete="off">
                        <i class="fas fa-exclamation-circle input-warning" id="last-name-warning"></i>
                        <i class="fas fa-check-circle input-success" id="name-success"></i>
                    </div>
                    <p class="field-error" id="last-name-error">Apellidos no puede estar vacío.</p>
                </div>

                <div class="field-wrapper">
                    <label class="field-label" for="date-of-birth">Fecha de nacimiento:</label>
                    <div class="input-wrapper">
                        <input type="date" class="input input-normal" name="date-of-birth" id="date-of-birth">
                        <i class="fas fa-exclamation-circle input-warning" id="date-of-birth-warning"></i>
                        <i class="fas fa-check-circle input-success" id="date-of-birth-success"></i>
                    </div>
                    <p class="field-error" id="date-of-birth-error">Mensaje de error</p>
                </div>

                <div class="field-wrapper">
                    <label class="field-label" for="email">Correo electrónico:</label>
                    <div class="input-wrapper">
                        <input type="text"class="input input-normal" name="email" id="email" placeholder="example@email.com">
                        <i class="fas fa-exclamation-circle input-warning" id="email-warning"></i>
                        <i class="fas fa-check-circle input-success" id="name-success"></i>
                    </div>
                    <p class="field-error" id="email-error">Correo electrónico no puede estar vacío.</p>
                </div>

                <div class="field-wrapper">
                    <label class="field-label" for="username">Nombre de usuario:</label>
                    <div class="input-wrapper">
                        <input type="text" class="input input-normal" name="username" id="username" name="username" autocomplete="off">
                        <i class="fas fa-exclamation-circle input-warning" id="username-warning"></i>
                        <i class="fas fa-check-circle input-success" id="name-success"></i>
                    </div>
                    <p class="field-error" id="username-error">Nombre de usuario no puede estar vacío.</p>
                </div>

                <div class="field-wrapper">
                    <label class="field-label" for="password">Contraseña:</label>
                    <div class="input-wrapper" id="wrapper-password">
                        <input type="password" class="input input-normal" name="password" id="password" placeholder="Debe contener mínimo 8 caracteres">
                        <i class="fas fa-exclamation-circle input-warning" id="password-warning"></i>
                        <i class="fas fa-check-circle input-success" id="name-success"></i>
                    </div>
                    <p class="field-error" id="password-error">Contraseña no puede estar vacío.</p>
                    <ul class="password-requirements">
                        <li class="field-password-requirements" id="field-password-length">Debe contener mínimo 8 caracteres</li>
                        <li class="field-password-requirements" id="field-password-upper">Debe contener una mayúscula</li>
                        <li class="field-password-requirements" id="field-password-lower">Debe contener una minúscula</li>
                        <li class="field-password-requirements" id="field-password-number">Debe contener un número</li>
                        <li class="field-password-requirements" id="field-password-symbol">Debe contener un signo de puntuación</li>
                    </ul>
                </div>

                <div class="field-wrapper">
                    <label class="field-label" for="confirm-password">Confirmar contraseña:</label>
                    <div class="input-wrapper">
                        <input type="password" class="input input-normal" name="confirm-password" id="confirm-password">
                        <i class="fas fa-exclamation-circle input-warning" id="confirm-password-warning"></i>
                        <i class="fas fa-check-circle input-success" id="name-success"></i>
                    </div>
                    <p class="field-error" id="confirm-password-error">Confirmar contraseña no puede estar vacío.</p>
                </div>

                <div class="form-submit">
                    <input type="submit" value="Registrarte" class="form-submit-btn" id="btn-submit">
                </div>

                <p class="login">¿Ya tienes cuenta? <a href="Login.html">Inicia sesión ahora</a></p>
            </form>
        </div>
        
        <footer class="footer">
            <p>Bug Fields</p>
            <p>Osvaldo Estrada Gutierrez (Mt. 1898206)</p>
            <p>Eliam Rodríguez Pérez (Mt. 1898666)</p><br>
            <a href="https://github.com/Prz-Ellam/Bug-Fields" target="_blank"><i class="fab fa-github github"></i></a>
        </footer>
        <script src="https://kit.fontawesome.com/48ce36e499.js" crossorigin="anonymous"></script>
        <script src="../JS/Registration.js"></script>
    </body>
</html>